@mixin breakpoint($break) {
    @if $break==large {
        @media (min-width: $break-large) {
            @content;
        }
    }
}

@keyframes zoom-in {
    0%{ transform: scale(.3); }
    100%{ transform: scale(1); }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

@keyframes slide-in-right {
    0% { left: -2000px; }
    100% { left: -678px; }
}

@keyframes slide-in-left {
    0% { right: -2000px; }
    100% { right: -600px; }
}