@mixin breakpoint($break) {
    @if $break==large {
        @media (min-width: $break-large) {
            @content;
        }
    }
}

@keyframes fade-in {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

@keyframes slide-in-right {
    0% { left: -2000px; }
    100% { left: -678px; }
}

@keyframes slide-in-left {
    0% { right: -2000px; }
    100% { right: -600px; }
}

@keyframes slide-in-up {
    0%{ background-position-y: 1000px; }
    100% { background-position-y: 100px; }
}

@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}